/*
snakeUI.css 
verson : 2.0
*/

// 文字省略
@for $i from 1 through 3 {
  .snake-ellipse-#{$i} {
    @if $i == '1' {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    } @else {
      display: -webkit-box !important;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      -webkit-line-clamp: $i;
      -webkit-box-orient: vertical !important;
    }
  }
}

/* ¥ */
.snake-price::before {
  content: '¥';
  font-size: 24rpx;
  margin-right: 2rpx;
}

// 底部固定定位
.snake-fixed-bottom {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: var(--window-bottom);
  padding-bottom: calc(var(--window-bottom) + constant(safe-area-inset-bottom));
  padding-bottom: calc(var(--window-bottom) + env(safe-area-inset-bottom));
  z-index: 19;
  background-color: #fff;
  box-sizing: border-box;
}

// 底部导航
.snake-tabbar-footer {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: var(--window-bottom);
  z-index: 19;
  background-color: #fff;
  box-sizing: border-box;
}

.snake-safearea-height {
  height: 120rpx;
  padding-bottom: calc(var(--window-bottom) + constant(safe-area-inset-bottom));
  padding-bottom: calc(var(--window-bottom) + env(safe-area-inset-bottom));
}

// 字体
.snake-fontNum {
  font-family: 'DIN', 'PingFangSC-Semibold';
}
.snake-font-din {
  font-family: 'DIN', 'PingFangSC-Regular';
}
.snake-font-dinBold {
  font-family: 'DIN-Bold';
}
.snake-font-dinmedium {
  font-family: 'DIN', 'PingFangSC-Medium';
  font-weight: 600;
}
.snake-font-dinProBold {
  font-family: 'DINPro-Bold';
}

/* 加粗文字 */
.snake-font-light {
  font-family: 'PingFangSC-Light';
}
.snake-font-regular {
  font-family: 'PingFangSC-Regular';
}
.snake-font-semibold {
  font-family: 'PingFangSC-Semibold';
}
.snake-font-medium {
  font-family: 'PingFangSC-Medium';
}
.snake-font-arial {
  font-family: ArialMT, Arial;
}
.snake-font-alphanum {
  font-family: 'ALPHANUM';
}

/* 文字颜色 */
.snake-primary {
  color: $u-primary;
}

.snake-purple {
  color: #793bf8;
}
.snake-white {
  color: #ffffff;
}
.snake-black {
  color: #26273a;
}
.snake-deepblack {
  color: #0f1113;
}
.snake-light-black {
  color: #4b4b4b;
}
.snake-blackblue {
  color: #404155;
}
.snake-blue {
  color: #3688ff;
}
.snake-light-blue {
  color: #afcfff;
}
.snake-blue-sky {
  color: #61cbef;
}
.snake-gray {
  color: #acacb7;
}

.snake-light-gray {
  color: #f4f5f8;
}
.snake-red {
  color: #ff525d;
}
.snake-red-light {
  color: #fe0832;
}

.snake-yellow {
  color: #ffcc00;
}
.snake-light-yellow {
  color: #ecd1a8;
}
.snake-green {
  color: #06d290;
}
.snake-gray6 {
  color: #646471;
}
.snake-gray7 {
  color: #707184;
}
.snake-gray8 {
  color: #888891;
}
.snake-subcyan {
  color: #e0ffff;
}

/* 背景颜色 */
.snake-bg-white {
  background: #ffffff;
}

.snake-bg-white-f6 {
  background: #f6f6f6;
}

.snake-bg-black {
  background: #26273a !important;
  color: #ffffff !important;
}

.snake-bg-blackblue {
  background: #404155 !important;
  color: #ffffff !important;
}
.snake-bg-blue {
  background: #3688ff !important;
  color: #ffffff !important;
}
.snake-bg-blue-sky {
  background: #61cbef !important;
  color: #ffffff !important;
}
.snake-bg-gray {
  background: #f6f6f6 !important;
  color: #26273a !important;
}
.snake-bg-light-gray {
  background: #f4f5f8 !important;
  color: #26273a !important;
}
.snake-bg-red {
  background: #fb6e5a !important;
  color: #ffffff !important;
}
.snake-bg-green {
  background: #06d290;
  color: #ffffff;
}
.snake-bg-new_green {
  background: #06d290;
  color: #ffffff;
}
.snake-bg-yellow {
  background: #ffcc00 !important;
  color: #ffffff !important;
}
.snake-bg-light-blue {
  background: #afcfff !important;
  color: #ffffff !important;
}
.snake-bg-light-yellow {
  background: #ecd1a8 !important;
  color: #ffffff !important;
}

.snake-bg-pink {
  background-color: #ff3367 !important;
}
.snake-bg-white-pink {
  background-color: #ffffff !important;
  border: 2rpx solid rgba(255, 51, 103, 1);
}

/* 渐变背景 */
.snake-gtbg-blue {
  background-image: linear-gradient(45deg, #b100ff 0%, #00b3ff 80%);
  color: #ffffff;
}
.snake-gtbg-pink {
  background-image: linear-gradient(45deg, #ff0066 0%, #ca00ff 80%);
  color: #ffffff;
}
.snake-gtbg-green {
  background-image: linear-gradient(45deg, #39b55a 0%, #8dc63e 80%);
  color: #ffffff;
}
.snake-gtbg-purple {
  background-image: linear-gradient(45deg, #f000ee 0%, #6e00ff 80%);
  color: #ffffff;
}
.snake-gtbg-orange {
  background-image: linear-gradient(160deg, #ffcd00 0%, #ff9b00 80%);
  color: #ffffff;
}
.snake-gtbg-blue-sky {
  background-image: linear-gradient(160deg, #00ffd5 0%, #008cff 80%);
  color: #ffffff;
}

/* 边框 */
.snake-border {
  border: 1px solid #e7e7e7;
}
.snake-border-l {
  border-left: 1px solid #e7e7e7;
}
.snake-border-r {
  border-right: 1px solid #e7e7e7;
}
.snake-border-t {
  border-top: 1px solid #e7e7e7;
}
.snake-border-b {
  border-bottom: 1px solid #e7e7e7;
}
.snake-noborder {
  border: none !important;
}

/* 阴影 */
.snake-box-shadow {
  box-shadow: 0px 0px 10rpx 0px #d1d8de;
}
.snake-shadow {
  position: relative;
}
.snake-shadow::before {
  content: '';
  display: block;
  background: inherit;
  filter: blur(6rpx);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 8rpx;
  left: 8rpx;
  z-index: -1;
  opacity: 0.38;
  transform-origin: 0 0;
  border-radius: inherit;
  transform: scale(1, 1);
}

/*  文本  */
.snake-h1 {
  font-size: 80rpx;
  line-height: 1.8em;
}
.snake-h2 {
  font-size: 60rpx;
  line-height: 1.8em;
}
.snake-h3 {
  font-size: 45rpx;
  line-height: 1.8em;
}
.snake-h4 {
  font-size: 32rpx;
  line-height: 1.8em;
}
.snake-h5 {
  font-size: 30rpx;
  line-height: 1.8em;
}
.snake-h6 {
  font-size: 28rpx;
  line-height: 1.8em;
}
.snake-bold {
  font-weight: bold;
}
.snake-text {
  line-height: 2em;
}
.snake-text-small {
  font-size: 22rpx;
  line-height: 1.8em;
}
.snake-line-through {
  text-decoration: line-through;
}
.snake-italic {
  font-style: italic;
}
.snake-indent {
  text-indent: 2em;
}

/* 九宫格 */
.snake-grids {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.snake-grids .items {
  width: 33.3%;
  padding: 8px 0;
  box-sizing: border-box;
}
.snake-grids .icon {
  width: 100rpx;
  height: 100rpx;
  margin: 0 auto;
  line-height: 100rpx;
  text-align: center;
  font-size: 0;
}
.snake-grids .icon text {
  font-size: 60rpx;
}
.snake-grids .icon image {
  width: 100%;
  border-radius: 6rpx;
}
.snake-grids .text {
  line-height: 2em;
  text-align: center;
  font-size: 26rpx;
  margin-top: 5px;
}

/* ==================
         表单
 ==================== */

.snake-form-group {
  position: relative;
  background-color: #ffffff;
  padding: 2rpx 24rpx;
  display: flex;
  align-items: center;
  min-height: 100rpx;
  justify-content: space-between;
  box-sizing: border-box;
}

.snake-form-group + .snake-form-group {
  border-top: 1rpx solid #eee;
}

.snake-form-group .title {
  text-align: justify;
  padding-right: 30rpx;
  font-size: 30rpx;
  position: relative;
  height: 60rpx;
  line-height: 60rpx;
  color: #111111;
}

.snake-form-group input {
  flex: 1;
  font-size: 30rpx;
  color: #111111;
  padding-right: 20rpx;
}

.snake-form-group > view[class*='skIcon-'] {
  font-size: 36rpx;
  padding: 0;
  line-height: 100rpx;
  width: 60rpx;
  text-align: center;
  box-sizing: border-box;
}

.snake-form-group textarea {
  margin: 32rpx 0 30rpx;
  height: 4.6em;
  width: 100%;
  line-height: 1.2em;
  flex: 1;
  font-size: 28rpx;
  padding: 0;
}

.snake-form-group.snake-flex-vtop .title {
  height: 1em;
  margin-top: 32rpx;
  line-height: 1em;
}

.snake-form-group picker {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.snake-form-group picker .picker {
  line-height: 100rpx;
  font-size: 28rpx;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: right;
}

.snake-form-group .picker {
  line-height: 100rpx;
  font-size: 28rpx;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: right;
}

.snake-form-group textarea[disabled],
.snake-form-group textarea[disabled] .placeholder {
  color: transparent;
}
